<div class="jumbotron content">
  <div class="container">
    <h1 class="display-4 mb-4">Hello, Brett!</h1>
    <p>Below you can find quick links to different components of CCS-Apps.</p>
  </div>
</div>

<div class="container">
  
  <div class="row">

    <div class="col-md">
      <div class="card text-white border-danger mb-3">
        <h3 class="card-header">Sub Contractors</h3>
        <div class="card-body">
          <p class="card-text">Visit the Subs component to search the database for Subs, build out lists of Subs, and learn more about individual Subs.</p>
          <a routerLink="/subs" class="btn btn-danger">Go to Subs</a>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card text-white border-danger mb-3">
        <h3 class="card-header">Vendors</h3>
        <div class="card-body">
          <p class="card-text">The Vendors component holds information and contact information for the Vendors in our business circle.</p>
          <a routerLink="/vendors" class="btn btn-danger">Go to Vendors</a>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card text-white border-danger mb-3">
        <h3 class="card-header">Account</h3>
        <div class="card-body">
          <p class="card-text">Change password in the Account component.</p>
          <a routerLink="/account" class="btn btn-danger">Go to Account</a>
        </div>
      </div>
    </div>
  
  </div>

</div>