<div class="row mt-3">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-search-tab" data-toggle="pill" href="#v-pills-search" role="tab" aria-controls="#v-pills-search" aria-selected="true">Search Subs</a>
        <a class="nav-link" id="v-pills-lists-tab" data-toggle="pill" href="#v-pills-lists" role="tab" aria-controls="v-pills-lists" aria-selected="false">Sub Lists</a>
      </div>
    </div>


    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-search-tab">
          <div class="container">
            <div class="jumbotron">
              <h2>Search Subs</h2>

              <form #subContractorSearchForm="ngForm" (ngSubmit)="searchSubContractors(subContractorSearchForm);">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCompanyName">Company Name</label>
                    <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" name="CompanyName" #CompanyName="ngModel" [(ngModel)]="subContractorSearchRequest.CompanyName">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputTrade">Trade</label>
                    <select id="inputTrade" class="form-control" name="Trade" #TradeId="ngModel" [(ngModel)]="subContractorSearchRequest.TradeId">
                      <option selected>Choose Trade...</option>
                      <option *ngFor="let trade of trades">{{trade.name}}</option>
                    </select>
                  </div> 
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="City" name="City" #City="ngModel" [(ngModel)]="subContractorSearchRequest.City">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control" name="State" #State="ngModel" [(ngModel)]="subContractorSearchRequest.State">
                      <option selected>Choose State</option>
                      <option *ngFor="let state of states">{{state}}</option>
                    </select>
                  </div>

                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="Zip Code" name="ZipCode" #ZipCode="ngModel" [(ngModel)]="subContractorSearchRequest.ZipCode">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="inputZipRadius">Radius around Zip</label>
                    <input type="number" class="form-control" id="inputZipRadius" placeholder="Miles" name="RadiusAroundZip" #RadiusAroundZip="ngModel" [(ngModel)]="subContractorSearchRequest.RadiusAroundZip">
                  </div>

                </div>

                <div class="btn-container">
                  <button type="submit" class="btn btn-block btn-success" [disabled]=subContractorSearchForm.invalid>Search</button> 
                </div>        
                
              </form>

              <data-spinner *ngIf="showSpinner"></data-spinner>

              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
                <thead *ngIf="!showSpinner">
                  <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Trade</th>
                    <th scope="col">Location</th>
                    <th scope="col">Source</th>
                    <th scope="col">Actions</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let sub of subContractors">
                    <td>{{sub.name}}</td>
                    <td>{{sub.trade.name}}</td>
                    <td>{{sub.city + ", " + sub.state + " " + sub.zipCode}}</td>
                    <td>Bluebook</td>                        
                    <td class="actions">
                      <fa-icon class="icon" [icon]="faPlus" title="Add To List" (click)="openProfileDeletion(profileDeletion, user.userName)"></fa-icon>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-lists" role="tabpanel" aria-labelledby="v-pills-lists-tab">
          <div class="container">
            <div class="jumbotron">
            <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">List Name</th>
                    <th scope="col"># Subs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active">
                    <td>Dublin HVAC Subs</td>
                    <td>17</td>
                  </tr>
                  <tr class="table-active">
                    <td>Bdubs Louisville</td>
                    <td>21</td>
                  </tr>
                  <tr class="table-active">
                    <td>Mansfield Painters</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>  
    </div>
  </div>