<div class="row content">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-search-tab" data-toggle="pill" href="#v-pills-search" role="tab" aria-controls="#v-pills-search" aria-selected="true">Search Subs</a>
        <a class="nav-link" id="v-pills-lists-tab" data-toggle="pill" href="#v-pills-lists" role="tab" aria-controls="v-pills-lists" aria-selected="false">Sub Lists</a>
      </div>
    </div>


    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-search-tab">
          <div class="container">
            <div class="jumbotron">
              <h2 class="pb-3">Search Subs</h2>

              <form #subContractorSearchForm="ngForm" (ngSubmit)="searchSubContractors(subContractorSearchForm);">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCompanyName">Company Name</label>
                    <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" name="CompanyName" [(ngModel)]="subContractorSearchRequest.CompanyName">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputTrade">Trades</label>
                    <ng-select
                        [items]="trades"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="false"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Select Trades"
                        name="TradeIds" 
                        #TradeIds="ngModel"
                        [(ngModel)]="subContractorSearchRequest.TradeIds">
                    </ng-select>
                  </div> 
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="City" name="City" [(ngModel)]="subContractorSearchRequest.City"  [readonly]="isCityAndStateReadonly()">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="inputCity">State</label>
                    <ng-select
                        [items]="states"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="false"
                        placeholder="Select State"
                        name="State" 
                        [(ngModel)]="subContractorSearchRequest.State"
                        [required]="isStateRequired()"
                        [disabled]="isCityAndStateReadonly()">
                    </ng-select>
                    <small *ngIf="isStateRequired() && isStateBlank()" class="form-text text-warning">State must be selected if searching by City!</small>
                  </div>

                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="Zip Code" name="ZipCode" [(ngModel)]="subContractorSearchRequest.ZipCode" minlength="5" maxlength="5" [readonly]="isZipDisabled()">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="inputRadius">Radius</label>
                    <input type="number" class="form-control" id="inputRadius" placeholder="Miles" name="Radius" #Radius="ngModel" [(ngModel)]="subContractorSearchRequest.Radius" min="0" max="100" [required]="isRadiusRequired()" [readonly]="!isRadiusRequired()">
                    <small *ngIf="isRadiusRequired() && !isRadiusValid() && Radius.dirty" class="form-text text-warning">Must be between 1 and 100!</small>
                    <small *ngIf="isRadiusRequired() && isRadiusBlank()" class="form-text text-warning">Required for City or Zip!</small>
                  </div>

                </div>

                <div class="btn-container">
                  <button type="submit" class="btn btn-block btn-success" [disabled]="subContractorSearchForm.invalid || (isRadiusRequired() && !isRadiusValid())">Search</button> 
                </div>        
                
              </form>

              <data-spinner *ngIf="showSubSpinner"></data-spinner>

              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
                <thead *ngIf="!showSubSpinner">
                  <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Trade</th>
                    <th scope="col">Location</th>
                    <th scope="col">Source</th>
                    <th scope="col">Actions</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let sub of subContractors">
                    <td>{{sub.name}}</td>
                    <td>{{sub.trade.name}}</td>
                    <td>{{sub.city + ", " + sub.state + " " + sub.zipCode}}</td>
                    <td>{{sub.source}}</td>                        
                    <td class="actions">
                      <fa-icon class="icon" [icon]="faPlus" title="Add To List" (click)="openAddToList(addSubToListModal, sub)"></fa-icon>
                      <a target="_blank" routerLink="/subs/{{sub.id}}"><fa-icon class="icon" [icon]="faInfoCircle" title="Details"></fa-icon></a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-lists" role="tabpanel" aria-labelledby="v-pills-lists-tab">
          <div class="container">
            <div class="jumbotron">
              <div class="row pb-4">
                <h2>Sub Lists</h2>
                <button type="button" class="create-list-btn btn btn-success" (click)="open(createListModal)" [disabled]="showListSpinner">Create List</button>
              </div>

              <data-spinner *ngIf="showListSpinner"></data-spinner>

              <table datatable [dtOptions]="dtOptionsLists" [dtTrigger]="dtTriggerLists" class="table table-hover table-bordered">
                <thead *ngIf="!showListSpinner">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"># Subs</th>     
                    <th scope="col">Created By</th>       
                    <th scope="col">Actions</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let list of subContractorLists">
                    <td>{{list.name}}</td>
                    <td>{{list.description}}</td>
                    <td>{{list.subContractors.length}}</td>
                    <td>{{list.createdByUser}}</td>                                        
                    <td class="actions">
                      <fa-icon class="icon" [icon]="faInfoCircle" title="Details" (click)="openProfileDeletion(profileDeletion, user.userName)"></fa-icon>
                      <fa-icon class="icon" [icon]="faTrashAlt" title="Delete" (click)="openListDeletion(deleteListModal, list)"></fa-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>  
    </div>
  </div>

  <ng-template #addSubToListModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add <span class="add-to-list-sub-name text-success">{{selectedSub.name}}</span> To List</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #addSubToListForm="ngForm" (ngSubmit)="addSubToList(addSubToListForm); modal.dismiss('Form submitted')">
      <div class="modal-body">
        <div class="form-group">
          <label for="subContractorList">Sub List</label>
          <ng-select 
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              [(ngModel)]="listIdToAddSubTo"
              [ngModelOptions]="{standalone:true}">
              <ng-option *ngFor="let list of subContractorLists" [value]="list.id" [disabled]="isSubAlreadyInList(list.id)">{{list.name}}</ng-option>
          </ng-select>
        </div>
        <post-spinner *ngIf="showAddToListSpinner"></post-spinner>
        <ul *ngIf="!showAddToListSpinner" class="list-group p-4">
          <h4>Belongs To:</h4>
            <li *ngIf="listsSelectedSubBelongsTo.length < 1" class="list-group-item disabled">None</li>
            <li *ngFor="let list of listsSelectedSubBelongsTo" class="list-group-item list-group-item-action" target="_blank" routerLink="/subs/lists/{{list.id}}">{{list.name}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" type="submit" class="btn btn-success" [disabled]="addSubToListForm.invalid || !(listIdToAddSubTo > 0)">Save</button>
      </div>
    </form>
  </ng-template>

  <ng-template #createListModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create List</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <form #createListForm="ngForm" (ngSubmit)="createNewList(createListForm); modal.close('Save click')">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Enter List Name" name="name" [(ngModel)]="newList.Name" #name="ngModel" minlength="3" maxlength="25" required>
            <small *ngIf="name.dirty && name.invalid" class="form-text text-warning">Must be between 3 and 25 characters!</small>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="description" class="form-control" id="description" placeholder="Enter List Description" name="description" [(ngModel)]="newList.Description" #description="ngModel" minlength="5" maxlength="100" required>
            <small *ngIf="description.dirty && description.invalid" class="form-text text-warning">Must be between 5 and 100 characters!</small>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" type="submit" class="btn btn-success create-user-btn" [disabled]=createListForm.invalid>Create List</button>
        </div>
      </form>
    </ng-template>


    <ng-template #deleteListModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Delete List</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-success">{{listToDelete.name}} </span>?</strong></p>
        <p>All subs connected to this list will not be permanently deleted. However, this list will be deleted.
          <span class="text-danger">This operation can not be undone.</span>
        </p>
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Ok click'); deleteList()">Delete List</button>
      </div> 
  </ng-template>
    
  