<div class="row content">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-search-tab" data-toggle="pill" href="#v-pills-search" role="tab" aria-controls="#v-pills-search" aria-selected="true">Search Subs</a>
        <a class="nav-link" id="v-pills-lists-tab" data-toggle="pill" href="#v-pills-lists" role="tab" aria-controls="v-pills-lists" aria-selected="false">Sub Lists</a>
      </div>
    </div>


    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-search-tab">
          <div class="container">
            <div class="jumbotron">
              <h2>Search Subs</h2>

              <form #subContractorSearchForm="ngForm" (ngSubmit)="searchSubContractors(subContractorSearchForm);">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCompanyName">Company Name</label>
                    <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" name="CompanyName" [(ngModel)]="subContractorSearchRequest.CompanyName">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputTrade">Trades</label>
                    <ng-select
                        [items]="trades"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="false"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Select Trades"
                        name="TradeIds" 
                        #TradeIds="ngModel"
                        [(ngModel)]="subContractorSearchRequest.TradeIds">
                    </ng-select>
                  </div> 
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="City" name="City" [(ngModel)]="subContractorSearchRequest.City" [required]="isCityAndStateRequired()" [readonly]="isCityAndStateReadonly()">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="inputCity">State</label>
                    <ng-select
                        [items]="states"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="false"
                        placeholder="Select State"
                        name="State" 
                        [(ngModel)]="subContractorSearchRequest.State"
                        [required]="isCityAndStateRequired()"
                        [disabled]="isCityAndStateReadonly()">
                    </ng-select>
                  </div>

                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="Zip Code" name="ZipCode" [(ngModel)]="subContractorSearchRequest.ZipCode" minlength="5" maxlength="5" [readonly]="isCityAndStateRequired()">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="inputRadius">Radius</label>
                    <input type="number" class="form-control" id="inputRadius" placeholder="Miles" name="Radius" [(ngModel)]="subContractorSearchRequest.Radius" min="0" max="100" [required]="isRadiusRequired()">
                  </div>

                </div>

                <small *ngIf="isCityAndStateRequired() && isCityOrStateBlank()" class="form-text text-warning pb-3">* City AND State must be filled out if searching by City or State! *</small>
                <small *ngIf="isRadiusRequired() && isRadiusBlank()" class="form-text text-warning pb-3">* Radius must be filled out if searching by City, State or Zip Code! *</small>
                <small *ngIf="isRadiusRequired() && !isRadiusValid()" class="form-text text-warning pb-3">* Radius must be between 1 and 100 *</small>

                <div class="btn-container">
                  <button type="submit" class="btn btn-block btn-success" [disabled]="subContractorSearchForm.invalid || (isRadiusRequired() && !isRadiusValid())">Search</button> 
                </div>        
                
              </form>

              <data-spinner *ngIf="showSpinner"></data-spinner>

              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
                <thead *ngIf="!showSpinner">
                  <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Trade</th>
                    <th scope="col">Location</th>
                    <th scope="col">Source</th>
                    <th scope="col">Actions</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let sub of subContractors">
                    <td>{{sub.name}}</td>
                    <td>{{sub.trade.name}}</td>
                    <td>{{sub.city + ", " + sub.state + " " + sub.zipCode}}</td>
                    <td>{{sub.source}}</td>                        
                    <td class="actions">
                      <fa-icon class="icon" [icon]="faPlus" title="Add To List" (click)="openProfileDeletion(profileDeletion, user.userName)"></fa-icon>
                      <a target="_blank" routerLink="/subs/{{sub.id}}"><fa-icon class="icon" [icon]="faInfoCircle" title="Details"></fa-icon></a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-lists" role="tabpanel" aria-labelledby="v-pills-lists-tab">
          <div class="container">
            <div class="jumbotron">
              <h2>Sub Lists</h2>

              <table datatable [dtOptions]="dtOptionLists" [dtTrigger]="dtTriggerLists" class="table table-hover table-bordered">
                <thead *ngIf="!showSpinner">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col"># Subs</th>      
                    <th scope="col">Actions</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let list of subContractorLists">
                    <td>{{list.name}}</td>
                    <td>{{list.subContractors.length}}</td>                     
                    <td class="actions">
                      <fa-icon class="icon" [icon]="faPlus" title="Add To List" (click)="openProfileDeletion(profileDeletion, user.userName)"></fa-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>  
    </div>
  </div>