<div class="container">
  <div class="jumbotron">
    <data-spinner *ngIf="showSpinner"></data-spinner>
    <div>
      <h3 class="display-4">{{subList.Name}}</h3>
      <p class="lead">{{subList.description}}</p>
      <div *ngIf="!showSpinner" class="lead">Created by: <span class="text-success created-by-user">{{subList.createdByUser}}</span></div>
      <div class="delete-spinner"><post-spinner *ngIf="deleteSpinner"></post-spinner></div>
      <div class="mt-5">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
            <thead *ngIf="!showSpinner">
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Trade</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Contact</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Location</th>
                <th scope="col">Source</th>
                <th scope="col">Actions</th>                    
              </tr>
            </thead>
            <tbody>
              <tr class="table-active" *ngFor="let sub of subList.SubContractors">
                <td>{{sub.name}}</td>
                <td>{{sub.trade.name}}</td>
                <td>{{sub.addressLine1}}  {{sub.addressLine2}}</td>
                <td>{{sub.city}}</td>
                <td>{{sub.state}}</td>
                <td>{{sub.zipCode}}</td>
                <td>Test Contact</td>
                <td>{{sub.officePhone}}</td>
                <td>{{sub.officeEmail}}</td>
                <td>{{sub.city + ", " + sub.state + " " + sub.zipCode}}</td>
                <td>{{sub.source}}</td>                        
                <td class="actions">
                  <a target="_blank" routerLink="/subs/{{sub.id}}"><fa-icon class="icon" [icon]="faInfoCircle" ngbPopover="Sub Details" container="body" triggers="mouseenter:mouseleave"></fa-icon></a>
                  <fa-icon class="icon" [icon]="faTrash" ngbPopover="Remove Sub from List" container="body" triggers="mouseenter:mouseleave" (click)="openModal(subFromListDeletion, sub)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div> 
    </div>
  </div>
</div>

<ng-template #subFromListDeletion let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Remove <span class="text-success font-italic">{{subToRemove.name}}</span> from <span class="text-success font-italic">{{subList.Name}}</span></h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <p><strong>Are you sure you want to remove {{subToRemove.name}} from {{subList.Name}} ?</strong></p>
      <p>This sub will remain in the database but will be removed from this particular list.</p>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click'); deleteSubFromList()">Remove Sub</button>
    </div> 
</ng-template>