<div class="row content">

    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="#v-pills-users" aria-selected="true">Users</a>
        </div>
    </div>

    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">


    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <h2>Manage Users</h2>
          <post-spinner *ngIf="showPostSpinner" class="center-spinner"></post-spinner>
          <button type="button" class="add-user-btn btn btn-success" (click)="open(newUserModal)" [disabled]="showPostSpinner || showSpinner">Add User</button>
        </div>

        <data-spinner *ngIf="showSpinner"></data-spinner>

        <div class="table-wrapper">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
              <thead *ngIf="!showSpinner">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Name</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let user of allUsers">
                  <td>{{user.username}}</td>
                  <td>{{user.firstName + " " + user.lastName}}</td>
                  <td>{{user.roles}}</td>
                  <td class="actions">
                    <fa-icon class="icon" [icon]="faTrashAlt" title="Delete User" (click)="openProfileDeletion(profileDeletion, user.username)"></fa-icon>
                    <fa-icon class="icon" [icon]="faPencilAlt" title="Edit User" (click)="openProfileEdit(editUserModal, user.username, user.roles)"></fa-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> 
      </div>
  </div>

<ng-template #newUserModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form #newUserForm="ngForm" (ngSubmit)="registerNewUser(newUserForm); resetNewUserForm(newUserForm); modal.close('Save click')">
    <div class="modal-body">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" placeholder="Enter Username" name="Username" #Username="ngModel" [(ngModel)]="newUser.Username" minlength="3" required>
        <small id="usernameHelp" class="form-text text-muted">Remember this. This is what the user will use to log in.</small>
      </div>

      <div class="form-group">
        <label for="is-admin">Admin?<fa-icon class="icon" [icon]="faQuestionCircle" title="Determines if the user is an Admin. Admins can add, delete, and edit users."></fa-icon></label>
        <input type="checkbox" class="form-control" id="is-admin" name="IsAdmin" #IsAdmin="ngModel" [(ngModel)]="newUser.IsAdmin">
      </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" name="Password" #Password="ngModel" [(ngModel)]="newUser.Password" minlength="5" required pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{5,50})$" required>
          <small id="passwordHelp" class="form-text text-muted">Must be at least 5 characters long and contain 1 numerical. Remember this!</small>
        </div>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="firstName" class="form-control" id="firstName" placeholder="Enter First Name" name="FirstName" #FirstName="ngModel" [(ngModel)]="newUser.FirstName" required>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="lastName" class="form-control" id="lastName" placeholder="Enter First Name" name="LastName" #LastName="ngModel" [(ngModel)]="newUser.LastName" required>
        </div>

    </div>

    <div class="modal-footer">
      <button type="button" type="submit" class="btn btn-success create-user-btn" [disabled]=newUserForm.invalid>Create User</button>
    </div>

  </form>
</ng-template>


<ng-template #editUserModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <form #editUserForm="ngForm" (ngSubmit)="editProfile(editUserForm); resetEditUserForm(editUserForm); modal.close('Save click')">
      <div class="modal-body">
  
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" name="Username" #Username="ngModel" [(ngModel)]="editUser.Username" readonly>
        </div>

        <div class="form-group">
            <label for="username">Change Password</label>
            <input type="username" class="form-control" id="password" name="NewPassword" #NewPassword="ngModel" [(ngModel)]="editUser.NewPassword" minlength="5" required pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{5,50})$">
            <small id="passwordHelp" class="form-text text-muted">Must be at least 5 characters long and contain 1 numerical. Remember this!</small>
          </div>
  
        <div class="form-group">
            <label for="is-admin">Admin?<fa-icon class="icon" [icon]="faQuestionCircle" title="Determines if the user is an Admin. Admins can add, delete, and edit users."></fa-icon></label>
            <input type="checkbox" class="form-control" id="is-admin" name="IsAdmin" #IsAdmin="ngModel" [(ngModel)]="editUser.IsAdmin">
          </div>
      </div>
  
      <div class="modal-footer">
        <button type="button" type="submit" class="btn btn-success create-user-btn" [disabled]="(NewPassword.invalid) && !isAdminHasChanged(editUser.IsAdmin)">Update</button>
      </div>
  
    </form>
  </ng-template>


<ng-template #profileDeletion let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Profile Deletion</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="text-success">{{userToDelete}}'s</span> profile?</strong></p>
      <p>All information associated to this user profile will be permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click'); deleteProfile()">Delete Profile</button>
    </div> 
</ng-template>
</div>
</div>
</div>
</div>