<div class="row">

  <div class="col-3 admin-vertical-nav">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Users</a>
    </div>
  </div>

  <div class="col-10">

    <div class="container">

      <div class="jumbotron my-5">

        <h2>Manage Users</h2>

        <div class="table-wrapper">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered dt-responsive">
              <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let user of allUsers">
                  <td>{{user.userName}}</td>
                  <td>{{user.firstName + " " + user.lastName}}</td>
                  <td><img class=" uk-icon-facebook-official"> </td>
                </tr>
              </tbody>
            </table>
          </div>
        
      </div>
  </div>

</div>