<div class="row content">

    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="#v-pills-users" aria-selected="true">Users</a>
          <a class="nav-link" id="v-pills-release-notes-tab" data-toggle="pill" href="#v-pills-release-notes" role="tab" aria-controls="#v-pills-release-notes">Release Notes</a>
        </div>
    </div>

    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">


    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <h2>Manage Users</h2>
          <post-spinner *ngIf="showPostSpinner" class="center-spinner"></post-spinner>
          <button type="button" class="add-user-btn btn btn-success" (click)="open(newUserModal)" [disabled]="showPostSpinner || showSpinner">Add User</button>
        </div>

        <data-spinner *ngIf="showSpinner"></data-spinner>

        <div class="table-wrapper">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
              <thead *ngIf="!showSpinner">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Name</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let user of allUsers">
                  <td>{{user.username}}</td>
                  <td>{{user.firstName + " " + user.lastName}}</td>
                  <td>{{user.roles}}</td>
                  <td class="actions">
                    <fa-icon class="icon" [icon]="faTrashAlt" ngbPopover="Delete User" container="body" triggers="mouseenter:mouseleave" (click)="openProfileDeletion(profileDeletion, user.username)"></fa-icon>
                    <fa-icon class="icon" [icon]="faPencilAlt" ngbPopover="Edit User" container="body" triggers="mouseenter:mouseleave" (click)="openProfileEdit(editUserModal, user.username, user.roles)"></fa-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> 
      </div>
  </div>

<ng-template #newUserModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form #newUserForm="ngForm" (ngSubmit)="registerNewUser(newUserForm); resetNewUserForm(newUserForm); modal.close('Save click')">
    <div class="modal-body">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" placeholder="Enter Username" name="Username" #Username="ngModel" [(ngModel)]="newUser.Username" minlength="3" required>
        <small id="usernameHelp" class="form-text text-muted">Remember this. This is what the user will use to log in.</small>
      </div>

      <div class="form-group">
        <label for="is-admin">Admin?<fa-icon class="icon" [icon]="faQuestionCircle" popoverTitle="Admin" ngbPopover="Determines if the user is an Admin. Admins can add, delete, and edit users." placement="right" container="body" triggers="mouseenter:mouseleave"></fa-icon></label>
        <input type="checkbox" class="form-control" id="is-admin" name="IsAdmin" #IsAdmin="ngModel" [(ngModel)]="newUser.IsAdmin">
      </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" name="Password" #Password="ngModel" [(ngModel)]="newUser.Password" minlength="5" required pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{5,50})$" required>
          <small id="passwordHelp" class="form-text text-muted">Must be at least 5 characters long and contain 1 numerical. Remember this!</small>
        </div>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="firstName" class="form-control" id="firstName" placeholder="Enter First Name" name="FirstName" #FirstName="ngModel" [(ngModel)]="newUser.FirstName" required>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="lastName" class="form-control" id="lastName" placeholder="Enter First Name" name="LastName" #LastName="ngModel" [(ngModel)]="newUser.LastName" required>
        </div>

    </div>

    <div class="modal-footer">
      <button type="button" type="submit" class="btn btn-success create-user-btn" [disabled]=newUserForm.invalid>Create User</button>
    </div>

  </form>
</ng-template>


<ng-template #editUserModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <form #editUserForm="ngForm" (ngSubmit)="editProfile(editUserForm); resetEditUserForm(editUserForm); modal.close('Save click')">
      <div class="modal-body">
  
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" name="Username" #Username="ngModel" [(ngModel)]="editUser.Username" readonly>
        </div>

        <div class="form-group">
            <label for="username">Change Password</label>
            <input type="username" class="form-control" id="password" name="NewPassword" #NewPassword="ngModel" [(ngModel)]="editUser.NewPassword" minlength="5" required pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{5,50})$">
            <small id="passwordHelp" class="form-text text-muted">Must be at least 5 characters long and contain 1 numerical. Remember this!</small>
          </div>
  
        <div class="form-group">
            <label for="is-admin">Admin?<fa-icon class="icon" [icon]="faQuestionCircle" popoverTitle="Admin" ngbPopover="Determines if the user is an Admin. Admins can add, delete, and edit users." placement="right" container="body" triggers="mouseenter:mouseleave"></fa-icon></label>
            <input type="checkbox" class="form-control" id="is-admin" name="IsAdmin" #IsAdmin="ngModel" [(ngModel)]="editUser.IsAdmin">
          </div>
      </div>
  
      <div class="modal-footer">
        <button type="button" type="submit" class="btn btn-success create-user-btn" [disabled]="(NewPassword.invalid) && !isAdminHasChanged(editUser.IsAdmin)">Update</button>
      </div>
  
    </form>
  </ng-template>


<ng-template #profileDeletion let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Profile Deletion</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="text-success">{{userToDelete}}'s</span> profile?</strong></p>
      <p>All information associated to this user profile will be permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click'); deleteProfile()">Delete Profile</button>
    </div> 
</ng-template>
</div>

<div class="tab-pane fade" id="v-pills-release-notes" role="tabpanel" aria-labelledby="v-pills-release-notes">
  <div class="jumbotron">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      Current Version: <span class="text-success">1.0.2</span>
    </h3>

    <div class="border-success border rounded release-post">
      <div class="m-2">
        <h2 class="release-post-title">1.0.2</h2>
        <p class="release-post-meta">February 17, 2019</p>
  
        <p>Added some updates to the application.</p>
        <hr>
        <h3>Additions:</h3>
        <ul>
          <li>Initial load of Search Subs only grabs 300 random subs. After adding 4,500 subs it slowed down the page. Future state is to load the last x number of subs that have been interacted with.</li>
          <li>Bug fixes around loading Sub page when Sub is missing information.</li>
        </ul>
        <h3>In Progress:</h3>
        <ul>
          <li>Disable routes to Admin page if not Admin.</li>
          <li>Integrate multiple contacts for Subs.</li>
          <li>Integrate multiple trades for Subs.</li>
        </ul>
      
      </div>
    </div>

    <div class="border-secondary border rounded release-post">
      <div class="m-2">
        <h2 class="release-post-title">1.0.1</h2>
        <p class="release-post-meta">February 10, 2019</p>
  
        <p>Added some updates to the application.</p>
        <hr>
        <h3>Additions:</h3>
        <ul>
          <li>Search Subs now searches by radius around all zips of a city instead of first zip found when searching by city. This benefits large cities tremendously.</li>
          <li>Get Similar Subs on Sub's Detail page.</li>
          <li>Favicon icon.</li>
        </ul>
        <h3>In Progress:</h3>
        <ul>
          <li>Integrate multiple contacts for Subs.</li>
          <li>Integrate multiple trades for Subs.</li>
        </ul>
      
      </div>
    </div>

    <div class="border-secondary border rounded">
        <div class="m-2">
          <h2 class="release-post-title">Initial Release 1.0.0</h2>
          <p class="release-post-meta">January 28, 2019</p>
    
          <p>This is the initial release. The application is functional however there are some items that are still in progress.</p>
          <hr>
          <h3>Additions:</h3>
          <ul>
            <li>Can search for Subs by several attributes and group them into lists.</li>
            <li>Export Sub Lists to Excel and CSV.</li>
            <li>Sub Details Page for each Sub.</li>
            <li>The ability to edit a Sub's Details.</li>
            <li>User Management - adding users, editing users...</li>
          </ul>
          <h3>In Progress:</h3>
          <ul>
            <li>Search by radius around all zips of a city instead of first zip found when searching by city.</li>
            <li>Get Similar Subs on Sub's Detail page.</li>
          </ul>
          <h3>In Backlog:</h3>
          <ul>
            <li>Integrate multiple contacts for Subs.</li>
            <li>Integrate multiple trades for Subs.</li>
          </ul>
        
        </div>
    </div>
    
  </div>
</div>

</div>
</div>
</div>
