#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/ccs-login.png");
    background-repeat: no-repeat; 
    background-size: 20%;
    z-index: 1;
    background-position: 50% 2%;
  }

#login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 2;
    opacity: .9;
}

.btn-block {
    background-color: #b42a2a;
    border-color:grey;
    color: white;
    font-weight: bolder;
}

.btn-block:enabled {
    cursor: pointer;
}

.btn-block:disabled {
    cursor: not-allowed;
    color: grey;
}